@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
    background-color: #1a202c; /* Dark background color */
    color: #cbd5e0; /* Light text color */
}

.dark h1 {
    color: #f7fafc; /* Light color for headings */
}